@import "../variables";
@import "../media";

.aboutMe {
    position: relative;
    @include flex-custom(column, center, center);
    background-color: $grey;

    img:first-of-type {
        position: absolute;
        top: 0;
        width: 100%;
    }

    img:last-of-type {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    .about {
        @include flex-custom(column, center, center);
        max-width: 1000px;
        text-align: center;
        margin: 20rem 0 10rem 0;

        h3 {
            font-size: 36px;
        }

        p {
            font-size: 22px;
        }
    }
    
    .linee {
        width: 50%;
        border-bottom: 1px solid hsla(0,0%,49.4%,.1);
    }

    .skills {
        margin: 10rem 0 20rem 0;
        .skills_container {
            @include flex-custom(column, center, center);

            h3 {
                font-size: 36px;
            }

            .skills_list {
                P {
                    margin: 1rem 0;
                }
                
                li p:first-of-type {
                    font-size: 22px;
                    font-weight: 500;
                }

                li p:last-of-type {
                    font-size: 16px;
                }
            }
        }
    }
}