@import "../variables";

.hero {
    height: 105vh;
    width: 100vw;
    @include flex-custom(column, center, center);
    user-select: none;

    .hero_container {
        @include flex-custom(column, center, center);
        height: 144px !important;
        width: 430px !important;
        h1 {
            font-size: 48px;
            color: $color-white;
            padding: 0;
            margin: 0;
        }

        p {
            font-size: 14px;
            padding: 0;
            margin: 0;
            color: hsla(0,0%,84.3%,.8549019607843137);
        }

        background-image: url("../../assets/logopink.svg");
        height: 90%;
        background-position: center;
        background-repeat: no-repeat; 
        background-size: contain;
    }

    .hero_links {
        margin-top: 1.5rem;

        a {
            color: hsla(0,0%,84.3%,.8549019607843137);
            font-size: 15px;
        }
    }
}