@import "./variables";

.header {
  @include flex-custom(row, center, center);
  position: sticky;
  top: 0;
  //   border: 1px solid white;
  height: 90px;
  width: 100%;
  .inner_header {
    width: 80%;
    @include flex-custom(row, space-between, center);
    img {
      max-width: 60px;
    }
    .header_anchors {
      @include flex-custom(row, space-between, center);
      padding: 0;
      width: 330px;
      list-style-type: none;
      text-transform: uppercase;
      font-size: 13px;
      a {
        text-decoration: none;
        color: $color-white;
      }
    }
  }
}
